@{
    ViewData["Module"] = "Vacancy";
    ViewData["Title"] = "Dashboard";
}

<div class="row">
<!-- column -->
<div class="col-lg-3 col-md-6">
    <!-- Card -->
    <div class="card">
        <img class="card-img-top img-responsive" src="~/assets/images/background/cards/java.jpg" width="286" height="160" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Java Develop Engineer</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a asp-action="VacancyCard" asp-controller="Vacancy" class="btn btn-primary">Talents </a>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- column -->
<!-- column -->
<div class="col-lg-3 col-md-6">
    <!-- Card -->
    <div class="card">
        <img class="card-img-top img-responsive" src="~/assets/images/background/cards/python.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Python Develop Engineer</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Talents </a>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- column -->
<!-- column -->
<div class="col-lg-3 col-md-6">
    <!-- Card -->
    <div class="card">
        <img class="card-img-top img-responsive" src="~/assets/images/background/cards/dotnet.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">.Net Develop Engineer</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Talents </a>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- column -->
<!-- column -->
<div class="col-lg-3 col-md-6 img-responsive">
    <!-- Card -->
    <div class="card">
        <img class="card-img-top img-responsive" src="~/assets/images/background/cards/php.png"  alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">PHP Develop Engineer</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Talents </a>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- column -->
                        </div>
<!-- Row -->
                    </div>
                </div>

