@{
    ViewData["Module"] = "Card";
    ViewData["Title"] = "Java Develop Enginer";
}

@section Styles{
    <style>
        img {
        }
    </style>
    
}

<div class="row">
    <div class="col-3">
        <img src="~/assets/images/background/cards/java.jpg" width="50%"/>
    </div>
    <div class="col-9">
        <h2>Java Develop Engineer</h2>
        <div class="row">
            <div class="col-6">
                <ul class="list-icons">
                    <li>
                        <i class="ti-angle-right"></i>
                        <span class="font-weight-bold">Essential:</span>
                        <span class="label label-inverse">Java 8</span>
                        <span class="label label-inverse">Tomcat</span>
                    </li>
                    <li>
                        <i class="ti-angle-right"></i>
                        <span class="font-weight-bold">Experienced:</span>
                        <span class="label label-inverse">Java EE</span>
                    </li>
                    <li>
                        <i class="ti-angle-right"></i>
                        <span class="font-weight-bold">Differential:</span>
                        <span class="label label-inverse">Angular 2</span>
                        <span class="label label-inverse">CSS</span>
                    </li>
                </ul>         
            </div>
            <div class="col-6">
                <ul class="list-icons">
                    <li>
                        <i class="ti-angle-right"></i>
                        <span class="font-weight-bold">Created:</span> 01/01/2017
                    </li>
                    <li>
                        <i class="ti-angle-right"></i>
                        <span class="font-weight-bold">Valid:</span> 30/03/2017
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="flag-icon flag-icon-br" title="br" id="br"></i>
                <a href="#" alt="default" data-toggle="modal" data-target=".bs-example-modal-lg" class="" > Talent #146532 </a>
                <div class="card-actions">
                    Match : <span class="label label-info">100%</span>
                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                    <a class="btn-minimize" data-action="expand"></a>
                    <a class="btn-close" data-action="close"><i class="ti-close"></i></a>
                </div>
            </div>
            <div class="card-body collapse show">
                <h4 class="card-title">Java Develop Engineer</h4>
                <p class="card-text">
                <p>
                    3 years the experieces, working in 4 projects
                </p>
                <p>
                    <span class="label label-inverse">Java 8</span>
                    <span class="label label-inverse">Java 8</span>
                    <span class="label label-inverse">Java 8</span>
                    <span class="label label-inverse">Java 8</span>
                    <span class="label label-inverse">Java 8</span>
                </p>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="~/assets/images/flags/brazil.png" width="24" height="24" />
                
                <a href="#"> Talent #146532 </a>
                <div class="card-actions">
                    Match : <span class="label label-info">100%</span>
                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                    <a class="btn-minimize" data-action="expand"></a>
                    <a class="btn-close" data-action="close"><i class="ti-close"></i></a>
                </div>
            </div>
            <div class="card-body collapse show">
                <h4 class="card-title">Java Develop Engineer</h4>
                <p class="card-text">
                <p>
                    3 years the experieces, working in 4 projects
                </p>
                <p>
                    <span class="label label-inverse">Java 8</span>
                    <span class="label label-inverse">Java 8</span>
                    <span class="label label-inverse">Java 8</span>
                    <span class="label label-inverse">Java 8</span>
                    <span class="label label-inverse">Java 8</span>
                </p>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Talent #146532</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-9">
                        <ul>
                            <li>Java Developer</li>
                            <li>32 years</li>
                            <li>+6 years experience</li>
                            <li>Degree Computer Science</li>
                            <li>2 certifications</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <video src="https://v40.pingendo.com/assets/videos/blank.m4v" class="embed-responsive-item" controls="controls"> Your browser does not support HTML5 video. </video>
                    </div>
                </div>

                <h4>About me</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar euismod egestas. Integer bibendum nulla leo, vitae placerat ipsum aliquet ac. Etiam et vestibulum lacus. Praesent laoreet pretium orci nec bibendum. Curabitur at metus pharetra, posuere leo nec, consectetur neque. Nulla efficitur ullamcorper arcu et tincidunt. Mauris lobortis eleifend scelerisque. Nullam quis mauris aliquet, fermentum enim sed, convallis velit. Aliquam commodo nec tortor non egestas.
                </p>
                <h4>Skills (Main)</h4>
                <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Java SE 8</h4>
                                <h5 class="card-subtitle">Score 15/20</h5>
                                <p class="card-text">

                                </p>
                                <p class="card-text"><small class="text-muted">3y expericence</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tomcat</h4>
                                <h5 class="card-subtitle">Score 17/20</h5>
                                <p class="card-text">

                                </p>
                                <p class="card-text"><small class="text-muted">3y expericence</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tomcat</h4>
                                <h5 class="card-subtitle">Score 17/20</h5>
                                <p class="card-text">

                                </p>
                                <p class="card-text"><small class="text-muted">3y expericence</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tomcat</h4>
                                <h5 class="card-subtitle">Score 17/20</h5>
                                <p class="card-text">

                                </p>
                                <p class="card-text"><small class="text-muted">3y expericence</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    <h4>Skills (Others)</h4>
                    <span class="label label-inverse">html</span>
                    <span class="label label-inverse">html</span>
                    <span class="label label-inverse">html</span>
                    <span class="label label-inverse">html</span>
                    <span class="label label-inverse">html</span>
                    <span class="label label-inverse">html</span>
                    <span class="label label-inverse">html</span>
                    <span class="label label-inverse">html</span>
                    <span class="label label-inverse">html</span>
                </p>
                <h4>Projects</h4>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Criação de boleto bancários - Java Develop</h4>
                        <span class="card-subtitle">
                            <span class="label label-inverse">html</span>
                            <span class="label label-inverse">html</span>
                            <span class="label label-inverse">html</span>
                            <span class="label label-inverse">html</span>
                        </span>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar euismod egestas. Integer bibendum nulla leo, vitae placerat ipsum aliquet ac. Etiam et vestibulum lacus. Praesent laoreet pretium orci nec bibendum.
                        </p>
                        <p class="card-text"><small class="text-muted">Executed 05/2017</small></p>
                    </div>
                </div>
                <h4>Experience</h4>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Criação de boleto bancários - Java Develop</h4>
                        <span class="card-subtitle">
                            <span class="label label-inverse">html</span>
                            <span class="label label-inverse">html</span>
                            <span class="label label-inverse">html</span>
                            <span class="label label-inverse">html</span>
                        </span>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar euismod egestas. Integer bibendum nulla leo, vitae placerat ipsum aliquet ac. Etiam et vestibulum lacus. Praesent laoreet pretium orci nec bibendum.
                        </p>
                        <p class="card-text"><small class="text-muted">Executed 05/2017</small></p>
                    </div>
                </div>
                <h4>
                    School/
                    Certificates
                </h4>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <i class="flag-icon flag-icon-br" title="br" id="br"></i>
                            Ciencias da computação
                        </h4>
                        <span class="card-subtitle">
                            <span class="label label-inverse">html</span>
                            <span class="label label-inverse">html</span>
                            <span class="label label-inverse">html</span>
                            <span class="label label-inverse">html</span>
                        </span>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar euismod egestas. Integer bibendum nulla leo, vitae placerat ipsum aliquet ac. Etiam et vestibulum lacus. Praesent laoreet pretium orci nec bibendum.
                        </p>
                        <p class="card-text"><small class="text-muted">Executed 05/2017</small></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-6">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-info waves-effect text-left">
                                Add Queue
                            </button>
                            <button type="button" class="btn btn-info waves-effect text-left">
                                Interview
                            </button>
                        </div>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Delete</button>
                        </div>
                    </div>
                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>







